  <legend><small>Cuenta</small></legend>
  
  <div class="form-group">
    <%= f.label :email, class: "col-sm-4 control-label" %>
    <div class="col-sm-7">
      <%= f.email_field :email, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, "Clave", class: "col-sm-4 control-label" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
    <% end %>
    <div class="col-sm-7">
      <%= f.password_field :password, :class => "form-control", autocomplete: "off" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirmar clave", class: "col-sm-4 control-label" %>
    <div class="col-sm-7">
      <%= f.password_field :password_confirmation, :class => "form-control", autocomplete: "off" %>
    </div>    
  </div>
